main {
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.component-content {
  position: relative;
  width: 100%;
}

.component-content__link {
  position: absolute;
  width: 12%;
  height: 3%;
  background: transparent;
}

.component-content__img {
  display: block;
  width: 100%;
}

.component-content__source {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.component-content__video {
  width: 100%;
}

@media (max-width: 300px) {
  main {
    min-width: 300px;
    max-width: none;
  }

  .component-content {
    width: 100%;
    height: auto;
  }
}
