.component-content {
  position: relative;
  width: rem(1500px);
  height: rem(894px);
  margin: 0 auto;
  background: linear-gradient(to top, #c5cec3, #b0b9ad 60%, #adb7aa);
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("#{$img-path}/pc/background.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.floating-waiting-box {
  z-index: 5;
  width: rem(120px);
  height: rem(120px);
  position: absolute;
  right: rem(472px);
  top: rem(262px);
  border-radius: 50%;
  box-shadow: 0 2px 15px 0 rgba(53, 53, 53, 0.4);
}

.floating-waiting-box__image {
  width: 100%;
  height: 100%;
  background-image: url("#{$img-path}/pc/coming-soon.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.floating-box {
  z-index: 5;
  width: rem(120px);
  height: rem(120px);
  position: absolute;
  &:before {
    content: "";
    z-index: 2;
    display: block;
    width: rem(36px);
    height: rem(35px);
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("#{$img-path}/pc/icn_bell.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &.floating-box--right {
    right: rem(472px);
    top: rem(480px);
    .floating-box__fixed {
      &:hover {
        + .floating-box__slide .floating-box__slide-inner {
          animation-name: rightMoveSlideReverse;
        }
      }
    }
    .floating-box__fixed-image {
      background-image: url("#{$img-path}/pc/image-right.png");
    }
    .floating-box__slide {
      right: rem(54px);
    }
    .floating-box__slide-inner {
      animation-name: rightMoveSlide;
    }
    .floating-box__slide-text {
      width: rem(183px);
      left: rem(30px);
      background-image: url("#{$img-path}/pc/slide-text-right.png");
      background-size: rem(183px) rem(52px);
    }
  }

  &.floating-box--left {
    left: rem(460px);
    top: rem(672px);
    .floating-box__fixed {
      &:hover {
        + .floating-box__slide .floating-box__slide-inner {
          animation-name: leftMoveSlideReverse;
        }
      }
    }
    .floating-box__fixed-image {
      background-image: url("#{$img-path}/pc/image-left.png");
    }
    .floating-box__slide {
      left: rem(54px);
    }
    .floating-box__slide-inner {
      animation-name: leftMoveSlide;
    }
    .floating-box__slide-text {
      width: rem(179px);
      right: rem(20px);
      background-image: url("#{$img-path}/pc/slide-text-left.png");
      background-size: rem(179px) rem(52px);
    }
  }
}

.floating-box__fixed {
  z-index: 1;
  overflow: hidden;
  display: block;
  width: rem(120px);
  height: rem(120px);
  position: relative;
  background-color: #eee;
  border: rem(4px) solid #fff;
  border-radius: 50%;
  box-shadow: 0 3px 27px 0 rgba(53, 53, 53, 0.4);
  &:hover {
    + .floating-box__slide .floating-box__slide-inner {
      animation-delay: 0.2s;
      animation-duration: 1.2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      animation-fill-mode: backwards;
    }
  }
}

.floating-box__fixed-image {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.floating-box__slide {
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.floating-box__slide-inner {
  width: rem(300px);
  height: rem(84px);
  position: relative;
  background-color: #fff;
  border-radius: 40px;
  animation-delay: 0.2s;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.floating-box__slide-text {
  height: rem(52px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("#{$img-path}/pc/slide-text-right.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

// ------------------------------------------------------
// Animation - keyframes
// ------------------------------------------------------
@keyframes rightMoveSlide {
  0% {
    right: 0;
  }
  100% {
    right: rem(-240px);
  }
}

@keyframes rightMoveSlideReverse {
  0% {
    right: rem(-240px);
  }
  100% {
    right: 0;
  }
}

@keyframes leftMoveSlide {
  0% {
    left: 0;
  }
  100% {
    left: rem(-240px);
  }
}

@keyframes leftMoveSlideReverse {
  0% {
    left: rem(-240px);
  }
  100% {
    left: 0;
  }
}

// ------------------------------------------------------
// Responsive
// ------------------------------------------------------
@include respond-to("breakpoint-sm") {
  body {
    min-width: 100%;
  }

  .component-content {
    width: 100%;
    height: rem(647px);
    &:after {
      background-image: url("#{$img-path}/mobile/oca_apart.png");
      background-size: 375px 708px;
    }
  }

  .floating-waiting-box {
    width: rem(86px);
    height: rem(86px);
    right: rem(10px);
    top: rem(198px);
  }

  .floating-waiting-box__image {
    background-image: url("#{$img-path}/mobile/coming-soon--lg.png");
  }

  .floating-box {
    width: rem(86px);
    height: rem(86px);

    &:before {
      width: rem(24px);
      height: rem(24px);
      background-image: url("#{$img-path}/mobile/icn_bell--lg.png");
    }

    &.floating-box--right {
      right: rem(10px);
      top: rem(352px);
      .floating-box__fixed {
        &:hover,
        &:active {
          + .floating-box__slide .floating-box__slide-inner {
            animation-name: rightMoveSlide;
          }
        }
      }
      .floating-box__slide {
        right: rem(37px);
      }
      .floating-box__slide-inner {
        width: rem(214px);
        animation-name: rightMoveSlideReverse;
      }
      .floating-box__slide-text {
        width: rem(129px);
        left: rem(22px);
        background-size: rem(129px) rem(37px);
        background-image: url("#{$img-path}/mobile/slide-text-right--lg.png");
      }
    }
    &.floating-box--left {
      left: rem(10px);
      top: rem(498px);
      .floating-box__fixed {
        &:hover,
        &:active {
          + .floating-box__slide .floating-box__slide-inner {
            animation-name: leftMoveSlide;
          }
        }
      }
      .floating-box__slide {
        left: rem(37px);
      }
      .floating-box__slide-inner {
        width: rem(207px);
        animation-name: leftMoveSlideReverse;
      }
      .floating-box__slide-text {
        width: rem(127px);
        right: rem(16px);
        background-size: rem(127px) rem(37px);
        background-image: url("#{$img-path}/mobile/slide-text-left--lg.png");
      }
    }
  }

  .floating-box__fixed {
    width: rem(86px);
    height: rem(86px);
    -webkit-touch-select: none;
    &:hover,
    &:active {
      + .floating-box__slide .floating-box__slide-inner {
        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
  }

  .floating-box__slide-inner {
    height: rem(60px);
    animation-delay: 0.2s;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
  }

  .floating-box__slide-text {
    height: rem(37px);
  }

  @keyframes rightMoveSlide {
    0% {
      right: 0;
    }
    100% {
      right: rem(-180px);
    }
  }

  @keyframes rightMoveSlideReverse {
    0% {
      right: rem(-180px);
    }
    100% {
      right: 0;
    }
  }
  @keyframes leftMoveSlide {
    0% {
      left: 0;
    }
    100% {
      left: rem(-180px);
    }
  }

  @keyframes leftMoveSlideReverse {
    0% {
      left: rem(-180px);
    }
    100% {
      left: 0;
    }
  }
}

// ------------------------------------------------------
// Retina
// ------------------------------------------------------
@media only all and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 2dpi) {
  main {
    &:after {
      background-image: url("#{$img-path}/pc/background--lg.png");
    }
  }

  .floating-box.floating-box--right {
    .floating-box__fixed-image {
      background-image: url("#{$img-path}/pc/image-right--lg.png");
    }
    .floating-box__slide-text {
      background-image: url("#{$img-path}/pc/slide-text-right--lg.png");
    }
  }

  .floating-box.floating-box--left {
    .floating-box__fixed-image {
      background-image: url("#{$img-path}/pc/image-left--lg.png");
    }
    .floating-box__slide-text {
      background-image: url("#{$img-path}/pc/slide-text-left--lg.png");
    }
  }

  .floating-box {
    &:before {
      background-image: url("#{$img-path}/pc/icn_bell--lg.png");
    }
  }
}
