// ------------------------------------------------------
// 접근성 대응
// ------------------------------------------------------
.ir-pm {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}

.screen-out {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: visible;
  white-space: nowrap;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.component-content {
  position: relative;
  width: 939px;
  height: 500px;
  margin: 0 auto;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("#{$img-path}/pc/background.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 939px 500px;
  }
}

.floating-waiting-box {
  z-index: 5;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 326px;
  top: 147px;
  border-radius: 50%;
  box-shadow: 0 2px 15px 0 rgba(53, 53, 53, 0.4);
}

.floating-waiting-box__image {
  width: 100%;
  height: 100%;
  background-image: url("#{$img-path}/pc/coming-soon.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.floating-box {
  z-index: 5;
  width: 60px;
  height: 60px;
  position: absolute;
  &:before {
    content: "";
    z-index: 2;
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("#{$img-path}/pc/icn_bell.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &.floating-box--right {
    top: 268px;
    right: 326px;
    .floating-box__fixed {
      &:hover {
        + .floating-box__slide .floating-box__slide-inner {
          animation-name: rightMoveSlideReverse;
        }
      }
    }
    .floating-box__fixed-image {
      background-image: url("#{$img-path}/pc/image-right.png");
    }
    .floating-box__slide {
      right: 27px;
    }
    .floating-box__slide-inner {
      animation-name: rightMoveSlide;
    }
    .floating-box__slide-text {
      width: 91px;
      left: 15px;
      background-image: url("#{$img-path}/pc/slide-text-right.png");
      background-size: 91px 27px;
    }
  }

  &.floating-box--left {
    left: 326px;
    top: 380px;
    .floating-box__fixed {
      &:hover {
        + .floating-box__slide .floating-box__slide-inner {
          animation-name: leftMoveSlideReverse;
        }
      }
    }
    .floating-box__fixed-image {
      background-image: url("#{$img-path}/pc/image-left.png");
    }
    .floating-box__slide {
      left: 27px;
    }
    .floating-box__slide-inner {
      animation-name: leftMoveSlide;
    }
    .floating-box__slide-text {
      width: 89px;
      right: 20px;
      background-image: url("#{$img-path}/pc/slide-text-left.png");
      background-size: 89px 27px;
    }
  }
}

.floating-box__fixed {
  z-index: 1;
  overflow: hidden;
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  background-color: #eee;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 3px 27px 0 rgba(53, 53, 53, 0.4);
  &:hover {
    + .floating-box__slide .floating-box__slide-inner {
      animation-delay: 0.2s;
      animation-duration: 1.2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      animation-fill-mode: backwards;
    }
  }
}

.floating-box__fixed-image {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.floating-box__slide {
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.floating-box__slide-inner {
  width: 150px;
  height: 42px;
  position: relative;
  background-color: #fff;
  border-radius: 40px;
  animation-delay: 0.2s;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.floating-box__slide-text {
  height: 26px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

// ------------------------------------------------------
// Animation - keyframes
// ------------------------------------------------------
@keyframes rightMoveSlide {
  0% {
    right: 0;
  }
  100% {
    right: -120px;
  }
}

@keyframes rightMoveSlideReverse {
  0% {
    right: -120px;
  }
  100% {
    right: 0;
  }
}

@keyframes leftMoveSlide {
  0% {
    left: 0;
  }
  100% {
    left: -120px;
  }
}

@keyframes leftMoveSlideReverse {
  0% {
    left: -120px;
  }
  100% {
    left: 0;
  }
}

// ------------------------------------------------------
// Responsive
// ------------------------------------------------------
@include respond-to("breakpoint-xs") {
  .floating-waiting-box {
    width: 68px;
    height: 68px;
    right: 352px;
    top: 147px;
  }

  .floating-waiting-box__image {
    background-image: url("#{$img-path}/mobile/coming-soon.png");
  }

  .floating-box {
    width: 68px;
    height: 68px;

    &:before {
      width: 25px;
      height: 24px;
      background-image: url("#{$img-path}/mobile/icn_bell.png");
    }

    &.floating-box--right {
      right: 352px;
      top: 262px;
      .floating-box__fixed {
        &:hover,
        &:active {
          + .floating-box__slide .floating-box__slide-inner {
            animation-name: rightMoveSlide;
          }
        }
      }
      .floating-box__slide {
        right: 37px;
      }
      .floating-box__slide-inner {
        width: 168px;
        height: 47px;
        animation-name: rightMoveSlideReverse;
      }
      .floating-box__slide-text {
        width: 102px;
        height: 29px;
        left: 29px;
        background-size: 102px 29px;
        background-image: url("#{$img-path}/mobile/slide-text-right.png");
      }
    }
    &.floating-box--left {
      left: 352px;
      top: 375px;
      .floating-box__fixed {
        &:hover,
        &:active {
          + .floating-box__slide .floating-box__slide-inner {
            animation-name: leftMoveSlide;
          }
        }
      }
      .floating-box__slide {
        left: 37px;
      }
      .floating-box__slide-inner {
        width: 163px;
        height: 47px;
        animation-name: leftMoveSlideReverse;
      }
      .floating-box__slide-text {
        width: 100px;
        height: 29px;
        right: 16px;
        background-size: 100px 29px;
        background-image: url("#{$img-path}/mobile/slide-text-left.png");
      }
    }
  }

  .floating-box__fixed {
    width: 68px;
    height: 68px;
    -webkit-touch-select: none;
    &:hover,
    &:active {
      + .floating-box__slide .floating-box__slide-inner {
        animation-duration: 1.2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
  }

  .floating-box__slide-inner {
    height: 60px;
    animation-delay: 0.2s;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
  }

  .floating-box__slide-text {
    height: 37px;
  }

  @keyframes rightMoveSlide {
    0% {
      right: 0;
    }
    100% {
      right: -180px;
    }
  }

  @keyframes rightMoveSlideReverse {
    0% {
      right: -180px;
    }
    100% {
      right: 0;
    }
  }
  @keyframes leftMoveSlide {
    0% {
      left: 0;
    }
    100% {
      left: -180px;
    }
  }

  @keyframes leftMoveSlideReverse {
    0% {
      left: -180px;
    }
    100% {
      left: 0;
    }
  }
}

// ------------------------------------------------------
// Retina
// ------------------------------------------------------
@media only all and (-webkit-min-device-pixel-ratio: 2) and (min-width: 331px),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 331px),
  only screen and (min-resolution: 2dpi) and (min-width: 331px) {
  .floating-waiting-box__image {
    background-image: url("#{$img-path}/pc/coming-soon--lg.png");
  }

  .floating-box.floating-box--right {
    .floating-box__fixed-image {
      background-image: url("#{$img-path}/pc/image-right--lg.png");
    }
    .floating-box__slide-text {
      background-image: url("#{$img-path}/pc/slide-text-right--lg.png");
    }
  }

  .floating-box.floating-box--left {
    .floating-box__fixed-image {
      background-image: url("#{$img-path}/pc/image-left--lg.png");
    }
    .floating-box__slide-text {
      background-image: url("#{$img-path}/pc/slide-text-left--lg.png");
    }
  }

  .floating-box {
    &:before {
      background-image: url("#{$img-path}/pc/icn_bell--lg.png");
    }
  }
}
