<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css" />

</head>

<body>
  <main>
    <div class="component-content">
      <img class="component-content__img" src="../src/images/common/22027/22027_01.png" alt="">
      <!-- 각각 페이지에 접근성 필요시 사용하세요 -->
      <span class="ir-pm">기능 1</span>
      <span class="ir-pm">기능 올레드 evo</span>
      <h3 class="ir-pm">생동감 넘치는 화질 맛집</h3>
      <span class="ir-pm">강아지 이미지</span>
      <span class="ir-pm">이해를 돕기 위해 연출된 이미지입니다.</span>
      <span class="ir-pm">21년형 C1 시리즈 비교 기준</span>
      <p class="ir-pm"><em>5세대 인공지능 알파 9 프로세서</em>가 픽셀 하나하나의 밝기와 선명도를 더 미세하게 조절하고 새로운 열 제어 기술이 더 밝고 서명한 화질을 제공해요</p>
    </div>
  </main>
  <script src="../src/js/index.js"></script>
</body>


</html>
