<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
  <main>
    <div class="component-content">
      <img class="component-content__img" src="../src/images/common/26006/26006_03.png" alt="">
      <div class="component-content__source" style="top: 22.5%;width:39%;">
        <span class=" ir-pm">LG Objet Collection</span>
        <video class="component-content__video" controls>
          <source src="../src/video/26006/26006_03.mp4" type="video/mp4" />
          이 문장은 여러분의 브라우저가 video 태그를 지원하지 않을 때 화면에
          표시됩니다!
        </video>
      </div>
      <a href="#none" class="component-content__link" style="bottom: 20%;left: 10.5%;">
        <span class="ir-pm">세부정보</span>
      </a>
    </div>
  </main>

  <div class="modal">
    <div class="modal__dimmed"></div>
    <div class="modal__content">
      <div class="modal__body">
        <strong class="modal__title">​[Centum System™ 을 가능하게 하는 기술​]
        </strong>
        <dl class="technology-definition">
          <dt>
            진동 감지 센서​
          </dt>
          <dd>
            진동 발생 시 센서로 알아서 회전속도 조절
          </dd>
          <dt>
            듀얼 볼 밸런서
          </dt>
          <dd>
            ​옷감이 한쪽으로 쏠리면 볼 밸런서로 균형 조절​
          </dd>
          <dt>
            진동 저감 장치​
          </dt>
          <dd>
            유연한 진동 저감 장치로 세탁통으로 전달되는 진동 차단​
          </dd>
          <dt>
            진동 완화 장치
          </dt>
          <dd>
            3개의 서스펜션과 2개의 댐퍼로 승차감이 좋은 차처럼 충격 완화​
          </dd>
        </dl>
        <button class="modal__close-button button" title="닫기"></button>
      </div>
    </div>
  </div>
  <script src="../src/js/index.js"></script>
</body>

</html>
