<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../dist/css/style.min.css" />
</head>

<body>
  <main>
    <div class="component-content">
      <h2 class="ir-pm">놀러오세요! VR 랜선 집들이</h2>
      <span class="ir-pm">LG Objet Collection</span>
      <span class="ir-pm">오브제컬렉터즈 아파트</span>
      <div class="floating-waiting-box">
        <div class="floating-waiting-box__image">
          <span class="ir-pm">Coming Soon</span>
        </div>
      </div>
      <div class="floating-box floating-box--right">
        <a href="#" class="floating-box__fixed">
          <span class="screen-out">링크 이동</span>
          <span class="floating-box__fixed-image"></span>
        </a>
        <div class="floating-box__slide">
          <div class="floating-box__slide-inner">
            <span class="floating-box__slide-text">
              <span class="ir-pm">푸드스타일링에 찐심인 김은아(하트) 심승규 부부</span>
            </span>
          </div>
        </div>
      </div>
      <div class="floating-box floating-box--left">
        <a href="#" class="floating-box__fixed">
          <span class="screen-out">링크 이동</span>
          <span class="floating-box__fixed-image"></span>
        </a>
        <div class="floating-box__slide">
          <div class="floating-box__slide-inner">
            <span class="floating-box__slide-text">
              <span class="ir-pm">롱보드를 사랑하는 이주애(하트)이승리 부부</span>
            </span>
          </div>
        </div>
      </div>
    </div>

  </main>
</body>

</html>