// Color Theme
.component-content--purple {
  .badge__order,
  .badge__text {
    color: #9e7cf0;
    border: 1px solid #9e7cf0;
  }
  .component-content__title {
    color: #9e7cf0;
  }
}

.component-content--pink {
  .badge__order,
  .badge__text {
    color: #fc566f;
    border: 1px solid #fc566f;
  }
  .component-content__title {
    color: #fc566f;
  }
}

.component-content--green {
  .badge__order,
  .badge__text {
    color: #83c28c;
    border: 1px solid #83c28c;
  }
  .component-content__title {
    color: #83c28c;
  }
}

.component-content--brown {
  .badge__order,
  .badge__text {
    color: #b8ac94;
    border: 1px solid #b8ac94;
  }
  .component-content__title {
    color: #b8ac94;
  }
}

.component-content--cream-green {
  .badge__order,
  .badge__text {
    color: #53b69c;
    border: 1px solid #53b69c;
  }
  .component-content__title {
    color: #53b69c;
  }
}
.component-content--cream-purple {
  .badge__order,
  .badge__text {
    color: #b6a0f7;
    border: 1px solid #b6a0f7;
  }
  .component-content__title {
    color: #b6a0f7;
  }
}



