html {
  font-size: $base-font-size; // 16px = 1rem
}

body {
  @include font-size("14");
  @include letter-spacing;
  @include line-height("body");
  color: #212121;
  background-color: #fff;
}

pre,
code {
  @include font-size("13");
}

strong {
  font-weight: 700;
}
